

body{ 
  /*background-image: url(wallpaper2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-attachment: scroll;*/
  background-color: #333333;
}
 
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 100px;
}

nav {
  margin-bottom:50px;
}

.container {
  margin: 0 auto;
  margin-inline-end: 0px;
  width: 100%;
}
/*
.row{
	padding-top:50px;
}	
*/

.card{
	padding: 5px;
}

p.logo {
  color:#75d147;
}

div#redblock {
  background-color: red;
}

div#red-border {
  border: 1px solid red;
}

div#title {
  vertical-align: top;
}