

body{ 
  /*background-image: url(wallpaper2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-attachment: scroll;*/
  background-color: #333333;
}
 
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 100px;
}

nav {
  margin-bottom:50px;
}

.container {
  margin: 0 auto;
  margin-inline-end: 0px;
  width: 100%;
}
/*
.row{
	padding-top:50px;
}	
*/

h1 {
  color: white;
  -webkit-text-fill-color: #333333; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: white;
  font-size: 100pt;
  transform: translate(-5%, -5%);
  margin-bottom: 80px;
}


.card{
	padding: 5px;
}

p.logo {
  color:#75d147;
}

div#redblock {
  background-color: red;
}

div#greenblock {
  background-color: #8da84d;
  border-left: 5px solid red;
}

div#red-border {
  border: 1px solid rgb(233, 24, 24);
}

div#green-border {
  border: 1px solid rgb(74, 199, 74);
}

div#blue-border {
  border: 1px solid rgb(33, 115, 197);
}

div#title {
  vertical-align: top;
  
}

/* notification */
.wrapper{
  position:absolute;
  right:30px;
  bottom:85px;
  max-width:400px;
  background:#fff;
}
.wrapper .head-text{
  line-height: 30px;
  background:#4F4D5B;
  color:#fff;
  padding: 0 20px;
  font-weight:500;
  font-size:20px;
}
.wrapper .chat-box{
  padding:20px;
}
.chat-box .desc-text{
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}
.chat-box form .field{
  height:50px;
  margin-top:20px;
}
form .textarea textarea{
  height:110%;
  padding-left:20px;
  border: 1px solid lightgrey;
  font-size: 16px;
}
form .field button{
  line-height: 30px;
  float:right;
  background:#5FA826;
  color:white;
  padding: 0 20px;
  font-weight:500;
  font-size:20px;
}

/* track driver */
.text{
  line-height:40px;
  background:#5FA826;
  position:absolute;
  color:black;
  margin-top:15vh;
  padding:0 85px;
  font-weight: 500;
  font-size: 20px;
  margin-left: 30px;
}
.refNum-container{
  padding:20px;
  position:absolute;
  margin-top: 25vh;
  margin-left: 30px;
  background: #C4C4C4 ;
  max-width:300px;
}
textarea{
  width:250px;
  font-size: 16px;
  background: white;
}
.refNum{
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}  
#track{
  line-height: 30px;
  float:right;
  background:#5FA826;
  color:white;
  padding: 0 20px;
  font-weight:500;
  font-size:20px;
  margin-top: 20px;
}

/* map */
body {
  margin: 0;
  padding: 0;
}

#map {				
  margin-left:5px;
  width: 700px; 
  height: 400px;
  bottom:0;
  border:solid;
}

.map-container{
  padding:20px;
  position:absolute;
  margin-top: 25vh;
  margin-left: 25px;
  background: #4F4D5B; ;
  max-width:800px;
  bottom:-250px;
}

.map-text{
  padding:20px;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
  color: white;
}

.marker {
  background-image: url('/images/marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}