<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>track_driver</title>    
        <link href="stylesheets/toastr.min.css" rel="stylesheet"/>
        <script src="js/jquery.min.js"></script>
        <script src="js/toastr.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    </head>
    <body>
        <nav>
			<div class="nav-wrapper brown lighten-4">
				<a href="#" class="brand-logo"><img src="logo.png" width="160px"/></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="./index.html">Home</a></li>
					<li><a href="./about.html">About</a></li>
					<li><a href="./contact.html">Contact</a></li>
					<li><a href="./track_driver.html">Track Driver</a></li>
				</ul>
			</div>
		</nav>

        <div class="wrapper">
			<div class="head-text">Send Message <br/> to Driver</div>
			<div class="chat-box">
				<div class="desc-text">Type message here</div>
				<form>
					<div class="field textarea">
						<textarea type="text" id="msg" cols="30" rows="10"></textarea>
					</div>
					<div class="field">
						<button type="button" onclick="sendNotification()">Send</button>
					</div>
				</form>
			</div>		
		</div>

		<div class="text">
			<div>Track Driver</div>
		</div>

		<div class="refNum-container">
			<div class="refNum">Enter Trip Reference Number:</div>
			<form>
				<div>
					<textarea id="tripID" type="text" cols="30" rows="10" required></textarea>
				</div>
				<div>
					<button id="track" type="submit">Track</button>
				</div>
				<div class="col s12 center">
                    <h5 id="message" class=""></h5>
                </div>
			</form>
		</div>

		<div class="map-container">
			<div class="map-text">Your driver is currently here...</div>
			<div id='map'></div>
		</div>
	
		<div class="center">
			<div id="timer" style="font-weight:bold; font-size: 20px;"></div>
		</div>

        <link rel="stylesheet" href="./style.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/client.js"></script>
		<script src="/js/timer.js"></script>
		<script src="/js/map.js"></script>
    </body>
</html>